.card-details {
    display: flex;
    flex-direction: column;
    
    &.dark{

        button{
            background-color: hsl(209, 23%, 22%);
            color: hsl(0, 0%, 100%);
        }

        a{
            color: hsl(0, 0%, 100%);
        }
    }

    .details {
        display: flex;
        justify-content: space-around;
        align-items: center;

        h1 {
            font-size: 2rem;
            margin: 16px 0px;
        }

        .flag-details {
            width: 40%;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .country-details {
            width: 40%;
        }

        .country-infos {
            width: 450px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 42px;

            p {
                margin: 10px 0;
            }
        }

        .bold {
            font-weight: bold;
        }
    }

    .button-back{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 5px 0px rgba(121, 121, 121, 0.526);
        border-radius: 4px;
        background-color: white;
        border: none;
        width: 120px;
        height: 40px;
        margin: 30px 90px;
        transition: all 0.2s ease;
        cursor: pointer;

        img{
            margin-right: 3px;
        }

        &:hover{
            transform: scale(1.1)
        }
    }

    @media screen and (max-width : 1000px){

        .card-details{
            height: 100%;
        }
        .details{
            flex-direction: column;
            height: 100%;

            .flag-details {
                width: 90%;
                height: 100%;
            }
        }
    }
}
