.countries{
    .filter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 42px auto;
    
        input, select{
            height: 55px;
            border: none;
            border-radius: 8px;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.139);
            
            &:focus{
                outline-width: 0;
            }
        }
        input{
            width: 480px;
            padding: 24px 72px;
            background: url(../assets/images/glass.svg) left/cover no-repeat, white ;
            background-size: 90px;
            
            &::placeholder{
                color: hsl(0, 0%, 52%);
            }
        }
    
        select{
            width: 300px;
            padding: 12px;
            appearance: none;
            background: url(../assets/images/chevron-bottom.svg) right/cover no-repeat;
            background-size: 90px;
        }
    }
}